<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
登录账号:<span sec:authentication="name">123</span><br/>
登录账号:<span sec:authentication="principal.username">456</span><br/>
凭证:<span sec:authentication="credentials">456</span><br/>
权限和角色:<span sec:authentication="authorities">456</span><br/>
客户端地址:<span sec:authentication="details.remoteAddress">456</span><br/>
sessionId:<span sec:authentication="details.sessionId">456</span><br/>

<br />
通过权限判断：
<button sec:authroize="hasAuthority('/insert')">新增</button>
<button sec:authroize="hasAuthority('/delete')">删除</button>
<button sec:authroize="hasAuthority('/update')">修改</button>
<button sec:authroize="hasAuthority('/select')">查看</button>
<br />
通过角色判断：
<button sec:authroize="hasRole('abc')">新增</button>
<button sec:authroize="hasRole('abc')">删除</button>
<button sec:authroize="hasRole('abc')">修改</button>
<button sec:authroize="hasRole('abc')">查看</button>
</body>
</html>